@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif !important;
}

:root {
  --white: #FAFAFA;
  --black: #121212;
  --primary-color: #00C853;
}

.dark {
  --white: #121212;
  --black: #FAFAFA;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);
  transition: background-color 0.5s ease, color 0.5s ease;
}

a {
  text-decoration: none;
  color: var(--black);
}

a,
button,
summary {
  cursor: pointer;
}

input,
textarea,
select,
button,
label,
summary {
  border: none;
  outline: none;
  background: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.cnt {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1640px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .cnt {
    max-width: 668px;
    padding: 0 15px;
  }
}
@media only screen and (max-width: 480px) {
  .cnt {
    max-width: 380px;
    padding: 0 10px;
  }
}
#scrollProgressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 9px;
  background-color: var(--primary-color);
  z-index: 9998;
  width: 0;
}

.hidden-content {
  opacity: 0;
  transition: opacity 1s ease;
}

.hidden-content.show {
  opacity: 1;
}

#loader {
  width: 80px;
  height: 80px;
  border: 5px solid transparent;
  border-top: 5px solid var(--primary-color);
  border-bottom: 5px solid var(--primary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
}

#loader.hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
#themeToggle {
  position: fixed;
  top: 150px;
  right: 30px;
  z-index: 9998;
}
#themeToggle img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 20px var(--black);
}

.header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  background: var(--white);
  height: 150px;
  display: grid;
  place-items: center;
  transition: all 0.5s ease;
}
.header__cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.header__banner {
  display: flex;
  align-items: center;
  transition: all 300ms ease;
}
.header__banner:hover {
  opacity: 0.75;
}
.header__banner:active {
  opacity: 0.5;
  transform: scale(0.95);
}
.header__title {
  font-weight: 800;
  font-size: 37px;
  line-height: 56px;
  color: var(--black);
  margin-left: 17px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item {
  position: relative;
}
.header__item:not(:last-child) {
  margin-right: 39px;
}
.header__item--has-dropdown:hover .header__dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.header__item:hover .header__icon {
  transform: rotate(180deg);
}
.header__link {
  display: flex;
  align-items: center;
  gap: 9px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--black);
  transition: all 300ms ease;
}
.header__link:hover {
  color: #3C82F4;
}
.header__icon {
  font-size: 15px;
  transition: transform 0.3s ease;
}
.header__dropdown {
  position: absolute;
  top: 35px;
  left: -15px;
  background: var(--white);
  border-radius: 5px;
  padding: 10px 0;
  min-width: 150px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  box-shadow: 0 0 15px var(--black);
  z-index: 1000;
}
.header__dropdown-link {
  display: block;
  color: var(--black);
  padding: 8px 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.header__dropdown-link:hover {
  background-color: var(--white);
  color: #3C82F4;
}
.header__auth {
  display: flex;
  align-items: center;
}
.header__login {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--black);
  margin-right: 24px;
  transition: all 0.3s ease;
}
.header__login:hover {
  color: #3C82F4;
}
.header__register {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fafafa;
  padding: 12px 21px;
  background-color: #3C82F4;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.header__register:hover {
  transform: scale(1.05);
}
.header__register:active {
  transform: scale(0.95);
}

.hero {
  margin-top: 150px;
}
.hero__cnt {
  display: grid;
  place-items: center;
  height: 85vh;
}
.hero__title {
  font-weight: 700;
  font-size: 112px;
  color: var(--black);
  text-align: center;
}
.hero__span {
  background: linear-gradient(90deg, #FE6783 1.9%, #FFBF84 97.1%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.hero__subtitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  max-width: 694px;
  width: 100%;
}
.hero__btns {
  display: flex;
  align-items: center;
  gap: 26px;
}
.hero__btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fafafa;
  padding: 23px 75px;
  background-color: #3C82F4;
  border-radius: 8px;
  transition: all 300ms ease;
}
.hero__btn:hover {
  transform: scale(1.05);
}
.hero__btn:active {
  transform: scale(0.95);
}
.hero__btn2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--black);
  border: 1px solid var(--black);
  padding: 24px 90px;
  border-radius: 8px;
  transition: all 300ms ease;
}
.hero__btn2:hover {
  transform: scale(1.05);
}
.hero__btn2:active {
  transform: scale(0.95);
}
.hero__bottom {
  display: flex;
  align-items: center;
  gap: 15px;
}
.hero__txt {
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
}
.hero__pulse {
  background-color: #0FC65C;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  transition: all 0.3s ease;
  animation: pulse 3s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

.why {
  margin-top: 150px;
}
.why__title {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  text-align: center;
}
.why__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
}
.why__card {
  max-width: 443px;
  width: 100%;
  text-align: center;
}
.why__card__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 52px;
}
.why__card__txt {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}

.step1 {
  margin-top: 162px;
  margin-bottom: 182px;
}
.step1__cnt {
  display: grid;
  place-items: center;
}
.step1__subtitle {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #3C82F4;
  text-align: center;
}
.step1__title {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  text-align: center;
}
.step1__txt {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  max-width: 929px;
  width: 100%;
}
.step1__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  border: 1px solid var(--black);
  color: var(--black);
  padding: 24px 38px;
  border-radius: 8px;
  margin-top: 34px;
  transition: all 0.3s ease;
}
.step1__link:hover {
  transform: scale(1.05);
}
.step1__link:active {
  transform: scale(0.95);
}
.step1__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 182px;
}
.step1__img {
  position: absolute;
  left: 820px;
}
.step1__right {
  opacity: 0;
  width: 820px;
  height: 715px;
}
.step1__heading {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}
.step1__subheading {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
}
.step1__text {
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
}
.step1__span {
  color: #3C82F4;
}
.step1__list {
  counter-reset: item;
  margin-top: 27px;
  margin-bottom: 66px;
}
.step1__items {
  position: relative;
  padding-left: 2.5rem;
  counter-increment: item;
}
.step1__items::before {
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0.1rem;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #2D2D2D;
  color: #FAFAFA;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step1__btn {
  padding: 18px 22px;
}
.step1__btn2 {
  padding: 18px 37px;
}

.step2 {
  margin-top: 71px;
  margin-bottom: 189px;
}
.step2__cnt {
  display: grid;
  place-items: center;
}
.step2__subtitle {
  font-weight: 600;
  font-size: 25px;
  line-height: 38px;
  color: #3C82F4;
}
.step2__title {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
}
.step2__txt {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  max-width: 886px;
  width: 100%;
}
.step2__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 176px;
  margin-bottom: 49px;
  width: 100%;
  max-width: 100%;
}
.step2__box {
  max-width: 854px;
  height: 666px;
  width: 100%;
  padding: 33px 45px;
}
.step2__box__txt {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #0FC65C;
}
.step2__box__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 93px;
  color: #919191;
}
.step2__box__span {
  color: var(--black);
  display: block;
}

.experts {
  display: grid;
  place-items: center;
}
.experts__title {
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  text-align: center;
  margin-bottom: 52px;
}

.help {
  margin-top: 186px;
  margin-bottom: 188px;
  position: relative;
}
.help__title {
  position: absolute;
  top: 40%;
  left: 15%;
  font-weight: 600;
  font-size: 70px;
  line-height: 105px;
  text-align: center;
  max-width: 1236px;
  width: 100%;
}

.start__cnt {
  display: grid;
  place-items: center;
  gap: 25px;
}
.start__img {
  width: 165px;
  height: 155px;
}
.start__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
}
.start__txt {
  font-weight: 400;
  font-size: 43px;
  line-height: 64px;
}
.start__btn {
  padding: 29px 112px;
}
.start__text {
  font-weight: 400;
  font-size: 38px;
  line-height: 100%;
}

.footer {
  margin-top: 183px;
  margin-bottom: 96px;
}
.footer__cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__banner {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer__link {
  font-weight: 400;
  font-size: 27px;
  line-height: 40px;
  color: var(--black);
}
.footer__title {
  font-weight: 800;
  font-size: 42px;
  line-height: 63px;
}
.footer__list {
  display: flex;
  align-items: center;
}
.footer__items:not(:last-child) {
  margin-right: 46px;
}
.footer__links {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: var(--black);
  transition: all 300ms ease;
}
.footer__links:hover {
  color: #3C82F4;
}

.blog {
  margin-top: 150px;
}
.blog__title {
  font-weight: 600;
  font-size: 120px;
  line-height: 180px;
}
.blog__txt {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}
.blog__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
  margin-top: 130px;
}
.blog__card {
  padding: 36px 33px;
  height: 244px;
  border: 2px solid var(--black);
  border-radius: 8px;
  transition: all 0.3s ease;
}
.blog__card__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
}
.blog__card__txt {
  font-weight: 400;
  font-size: 23px;
  line-height: 34px;
}
.blog__card:hover {
  transform: scale(1.05) translateY(-5px);
}/*# sourceMappingURL=main.css.map */