.blog {
    margin-top: 150px;

    &__title {
        font-weight: 600;
        font-size: 120px;
        line-height: 180px;
        text-align: center;
    }

    &__txt {
        font-weight: 400;
        font-size: 30px;
        line-height: 45px;
        text-align: center;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 33px;
        margin-top: 130px;
    }

    &__card {
        padding: 36px 33px;
        height: 244px;
        border: 2px solid var(--black);
        border-radius: 8px;
        transition: all 0.3s ease;

        &__title {
            font-weight: 600;
            font-size: 30px;
            line-height: 45px;
        }

        &__txt {
            font-weight: 400;
            font-size: 23px;
            line-height: 34px;
        }

        &:hover {
            transform: scale(1.05) translateY(-5px);
        }
    }
}